/* ChessBoard-Web.css */

.clearfix-7da63 {
  clear: both;
}

.board-b72b1 {
  outline: 0.07em solid #404040; /* chessboard outline color & size setting */
  box-sizing: content-box;
  position: relative;
  overflow: visible !important;
}

.row-5277c {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}

.square-55d63 {
  float: left;
  position: relative;
  overflow: visible !important;
  display: flex;
  justify-content: center;
  align-items: center;

  /* disable any native browser highlighting */
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.piece-417db {
  display: block;
  position: relative;
  z-index: 2;
}

.white-1e1d7 {
  background-color: #f0d9b5; /* light square color */
  color: #b58863;
}

.black-3c85d {
  background-color: #b58863; /* dark square color */
  color: #f0d9b5;
}

.highlight1-32417, .highlight2-9c5d2 {
  box-shadow: inset 0 0 3px 3px yellow;
}

.notation-322f9 {
  cursor: default;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px; /* you can find "notation font size setting" in javascript */
  position: absolute; 
  z-index: 1;
}

.alpha-d2270 {
  bottom: 2%;
  right: 4%;
}

.numeric-fc462 {
  top: 4%;
  left: 4%;
}

.square-highlight-b1f47 {
  box-sizing: border-box;
  height: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.shape-overlay-c1f09 {
  height: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 3;
}

/* Numeric Annotation Glyphs(NAGS) */
.nag-badge-7f8a1 {
  position: absolute;
  top: -10%;
  right: -10%;
  width: 25px;
  height: 25px;
  z-index: 100 !important; /* Adjust the value so it displays above the pieces. */
  pointer-events: none; /* Configure mouse click events to pass through to the chessboard/pieces. */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
